$font-color: rgb(102, 204, 255);
$background-color: rgb(0, 75, 102);
$border: 2px solid $font-color;

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Amatic SC", cursive;
    font-size: 30px;
}
h1 {
    color: $font-color;
    font-size: 5.2rem;
}
h4 {
    color: $font-color;
}
header {
    text-align: center;
    border-bottom: $border;
    background-color: $background-color;
}
main {
    flex: 1 0 auto;
}
#max {
    margin-top: 8%;
    border-radius: 100%;
    opacity: 0.7;
    width: 250px;
}
#name {
    margin-top: 3%;
}
.page-footer {
    background-color: $background-color;
    color: $font-color;
    border-top: $border;
}
.footer-copyright {
    border-top: 1px solid $font-color;
}
.section {
    background-color: $background-color;
    color: $font-color;
    border-top: $border;
    border-bottom: $border;
}
#media {
    display: flex;
    justify-content: space-between;
}
#resume {
    color: white;
}
.project {
    opacity: 0.8;
    display: inline-block;
}
.project:hover {
    opacity: 1;
}
.responsive-img {
    border-radius: 20px;
}
.top {
    text-align: center;
}
#nav a {
    margin: 0px 25px;
}
.animation {
    transform: translateX(-100px);
    transition: transform linear 500ms;
}
.animation.in-view {
    transform: translateX(0px);
}